.header-home {
  height: 100%;
  background-image: url("/imegs/home/desktop/image-hero.jpg");
  max-width: 144rem;
  width: 100%;
  height: 72rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__mark2__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 128px;
  width: 39.8rem;
  height: 34.6rem;
  flex-shrink: 0;
  gap: 2.5rem;
  padding-left: 6rem;
}
.new-product {
  color: $color-withe;
  opacity: 0.5;
}
.header__mark2__title {
  color: $color-withe;
}
.header__mark2__subtitle {
  color: $color-withe;

  width: 35rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
}
.header__mark2__link {
  color: #fff;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background-color: $color-orang;
  &:hover {
    background-color: $color-orang-withe;
  }
}
.main {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.home-nav {
  margin-bottom: 8rem;
  width: 111rem;

}
.home-nav__headphones {
  width: 35rem;
  height: 20.4rem;
  flex-shrink: 0;
  border-radius: 0.8rem;
  background: $color-gren;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-nav__headphones-img {
  text-align: center;
  width: 12.2rem;
  height: 16rem;
  flex-shrink: 0;
  margin-top: -4rem;
}
.home-nav__link:hover {
  color: $color-orang;
}
.home-nav__link {
  color: $color-black;
}
.home-nav__link-img {
  display: inline;
  margin-left: 1rem;
}
.home-nav {
  display: flex;
  gap: 3rem;
}
.home-zx9 {
  width: 111rem;
  height: 56rem;
  flex-shrink: 0;
  background-color: $color-orang;
  display: flex;
  gap: 13.8rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  border-radius: 1rem;
}
.home-zx9__img {
  width: 41rem;
  height: 48.5rem;
  flex-shrink: 0;
  margin-bottom: -7.5rem;
}
.home-zx0__content {
  width: 34.9rem;
  height: 30.3rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.home-zx9__title {
  width: 260px;
  color: $color-withe;
}
.home-zx9__subtitle {
  opacity: 0.75;
  color: $color-withe;
  margin-bottom: 1.5rem;
}
.home-zx9__link {
  color: $color-withe;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background-color: $color-blacker;
  // text-align: center;
  width: 18rem;
  height: 4.8rem;
  flex-shrink: 0;
  &:hover {
    background-color: #4c4c4c;
  }
}
.home-zx7 {
  background-image: url("/imegs/home/desktop/image-speaker-zx7.jpg");
  background-size: cover;
  width: 111rem;
  height: 32rem;
  border-radius: 1rem;
  padding-left: 12rem;
  padding-top: 10rem;
  margin-bottom: 5rem;
}
.home-zx7__title {
  padding-bottom: 5rem;
}
.home-zx7__link {
  border: 1px solid $color-black;
  color: #000;
  font-weight: 700;
  border-radius: 0;
  &:hover {
    background-color: $color-blacker;
    color: $color-withe;
  }
}
.home-yx1 {
  display: flex;
  gap: 3.2rem;
  margin-bottom: 5rem;
  width: 111rem;

}
.home-yx1__img {
  width: 54rem;
  height: 32rem;
  border-radius: 8px;
}
.home-yx1__content {
  width: 54rem;
  height: 32rem;
  flex-shrink: 0;
  border-radius: 8px;
  background: $color-gren;
  padding-left: 9rem;
  padding-top: 10rem;
}
.home-yx1__title {
  padding-bottom: 3.2rem;
}
.home-avatar {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: space-between;

}
.home-avatar__content {
  display: flex;
  width: 44.5rem;
  height: 29.5rem;
  flex-direction: column;
  gap: 3.2rem;
}

.home-avatar__subtitle {
  color: #000;
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
  opacity: 0.5;
}
.home-avatar__img {
  width: 50rem;
  height: 58.8rem;
  border-radius: 15px;
}
.home-avatar__span {
  color: $color-orang;
}
