.footer {
  height: 36.5rem;
  flex-shrink: 0;
  background-color: $color-black;
  max-width: 144rem;
  width: 100%;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7.5rem;
}

.footer__list {
  display: flex;
  gap: 3.4rem;
}

.footer__link {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;

  &:hover {
    color: $color-orang;
  }
}
.footer__fulfill {
  display: flex;
  padding-top: 3.6rem;
  justify-content: space-between;
  align-items: end;
}
.footer__text {
  color: $color-withe;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  width: 54rem;
  opacity: 0.5;
}

.footer__data {
  padding-top: 5rem;
  color: #fff;
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  opacity: 0.5;
}
.icon-soci__link:hover svg path {
  fill: $color-orang;
}
.icon-soci {
  display: flex;
  gap: 1.5rem;
}
.footer__line {
  width: 10.1rem;
  height: 0.4rem;
  background-color: $color-orang;
  margin-bottom: -2rem;
}
