
.footer {
  height: 365px;
  flex-shrink: 0;
  background-color: $color-black;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}

.footer__list {
  display: flex;
  gap: 34px;
}

.footer__link {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  &:hover{
    color: $color-orang;
  }
}
.footer__fulfill {
  display: flex;
  padding-top: 36px;
  justify-content: space-between;
  align-items: end;
}
.footer__text {
  color: $color-withe;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  width: 54rem;
  opacity: 0.5;
}

.footer__data {
  padding-top: 50px;
  color: #fff;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  opacity: 0.5;
}
.icon-soci__link:hover svg path {
  fill: $color-orang;
}
.icon-soci{
    display: flex;
    gap: 15px;
}
.footer__line{
  width: 101px;
height: 4px;
background-color: $color-orang;
margin-bottom: -20px;
}