.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
  z-index: 2;
}
.header {
  background: $color-black;
  // height: 100%;
}

.header__list {
  display: flex;
  justify-content: space-between;
  gap: 34px;
}

.header__link {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  
  &:hover {
    color: $color-orang;
  }
}
.header__line {
  width: 1200px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.2;
  background-color: $color-withe;
  margin-left: 20px;
}
.header__title{
height: 240px;
}
.header__title-text {
  color: $color-withe;
  text-align: center;
  padding-top: 100px;
}
