/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/manrope-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/manrope-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}
h1 {
  @include paragraf($h1-fs,$h1-lh, $h1-ls,);
}
h2 {
  @include paragraf($h2-fs,$h2-lh, $h2-ls,);
}
h3 {
  @include paragraf($h3-fs,$h3-lh, $h3-ls,);
}
h4 {
  @include paragraf($h4-fs,$h4-lh, $h4-ls,);
}
h5 {
  @include paragraf($h5-fs,$h5-lh, $h5-ls,);
}
h6 {
  @include paragraf($h6-fs,$h6-lh, $h6-ls,);
}
.new-product {
  color: $color-orang;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
}

