$color-orang: #D87D4A;
$color-black:#101010;
$color-gren:#F1F1F1;
$color-gren-withe: #FAFAFA;
$color-orang-withe:#fbaf85;
$color-withe:#FFFFFF;
$color-blacker:#000000;
$font-family: "Manrope" , sans-serif;

$h1-fs:5.6rem;
$h1-lh:1.03;
$h1-ls:2px;

$h2-fs:4rem;
$h2-lh:1.1;
$h2-ls:1.429px;

$h3-fs:3.2rem;
$h3-lh:1.12;
$h3-ls: 1.143px;

$h4-fs:2.8rem;
$h4-lh:1.4;
$h4-ls:2px;

$h5-fs:2.4rem;
$h5-lh:1.37;
$h5-ls:1.714px;

$h6-fs:1.8rem;
$h6-lh:1.3;
$h6-ls:1.286px;

$btn-pa: 15px 30px 15px;
$btn-rad:5px;
$btn-tran: uppercase; 