$color-orang: #D87D4A;
$color-black:#101010;
$color-gren:#F1F1F1;
$color-gren-withe: #FAFAFA;
$color-orang-withe:#fbaf85;
$color-withe:#FFFFFF;
$color-blacker:#000000;
$font-family: "Manrope" , sans-serif;